<div class="text1">
    <h2>Associação regulamentadora</h2>
    <p>O hipismo é regulamentado internacionalmente pela FEI (Federação Equestre Internacional), fundada em 1921. No
        Brasil, a principal entidade é a CBH (Confederação Brasileira de Hipismo).
    </p>
</div>
<br>
<br>

<div class="text2">
    <h2>Equipamentos Utilizados</h2>
    <ul>
        <li>Para o cavaleiro: Capacete, botas, luvas, calça especial, colete de proteção (em algumas modalidades).</li>
        <li>Para o cavalo: Sela, cabeçada, rédeas, estribos, mantas e protetores de pernas.</li>
    </ul>
    <br>
</div>
<div class="text3">
    <p>O hipismo é um dos poucos esportes olímpicos em que homens e mulheres competem juntos em igualdade de condições.
        Além disso, destaca-se pela forte conexão entre cavaleiro e cavalo.</p>

</div>