<div class="text1">
    <h2>Principais Campeonatos</h2>
    <ul>
        <li>Jogos Olímpicos: Hipismo faz parte desde 1912.</li>
        <li>Campeonato Mundial de Hipismo (FEI World Equestrian Games): Ocorre a cada quatro anos e reúne todas as modalidades.</li>
        <li>Copa do Mundo de Salto (FEI World Cup Jumping): Um dos eventos mais prestigiados do salto equestre.</li>
        <li>Badminton Horse Trials: Competição de CCE muito tradicional.</li>
        <li>Grand National: Uma das mais famosas corridas de cavalos do mundo.</li>
    </ul>
 </div>
 <br>
 <br>
 
 <div class="text2">
     <h2>Grandes Atletas do Hipismo</h2>
 <ul>
     <li>Rodrigo Pessoa (Brasil): Ouro olímpico no salto em 2004.</li>
     <li>Charlotte Dujardin (Reino Unido): Múltiplas medalhas olímpicas no adestramento.</li>
     <li>Michael Jung (Alemanha): Um dos maiores nomes do CCE.</li>
     <li>Nick Skelton (Reino Unido): Campeão olímpico no salto.</li>
     <li>Isabell Werth (Alemanha): Maior medalhista olímpica da história do hipismo.</li>
 </ul>

 <br>

 </div>