<div class="text1">
    <h2>Origem do hipismo</h2>
    <p>O hipismo tem origem na antiguidade, quando cavalos começaram a ser domesticados para transporte e guerra. Na
        Grécia Antiga, já existiam competições de corridas de cavalo nos Jogos Olímpicos. No entanto, o hipismo como
        esporte moderno surgiu no século XVIII na Inglaterra, especialmente com a prática do salto equestre, que se
        consolidou na Europa.</p>
</div>
<br>
<br>

<div class="text2">
    <h2>Evolução do Hipismo</h2>
    <p>Com o tempo, o hipismo se diversificou em diferentes modalidades, como:</p>
    <ul>
        <li>Salto: Superação de obstáculos em percursos cronometrados.</li>
        <li>Adestramento: Execução de movimentos precisos com base na harmonia entre cavalo e cavaleiro.< <li>CCE
                (Concurso Completo de Equitação): Combina adestramento, salto e cross-country, testando resistência e
                habilidades.</li>
        <li> Equestre: Corrida de longa distância.</li>
        <li>Volteio: Apresentação artística sobre o cavalo em movimento.</li>
    </ul>

    <p>O hipismo se tornou um esporte olímpico em 1900, nos Jogos de Paris.</p>
</div>
<br>